@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    margin: 0;
    background-image: url("https://res.cloudinary.com/ngasco/image/upload/v1623188794/bonsai_background/OC23T40_nlohlv.jpg");
    background-size: 30%;
  }

  body * {
    box-sizing: border-box;
  }

  /* Need for product card */
  .wrapper {
    display: grid;
    height: 100vh;
    place-items: center;
  }
}
