@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .search-icon {
    background-image: url("./search.svg");
  } */

  body {
    margin: 0;
  }

  body * {
    box-sizing: border-box;
  }

  /* Need for product card */
  .wrapper {
    display: grid;
    height: 100vh;
    place-items: center;
  }
}
